@model PizzaHub.Core.ViewModels.MenuItem.MenuItemFormModel

<div class="row">
    <div class="col-md-6">
        <h1>Remove Menu Item</h1>

        <form asp-controller="Admin" asp-action="ConfirmRemoveMenuItem" method="post">
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label>Are you sure you want to remove the following item from the menu?</label>
                <p><strong>@Model.Name</strong></p>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-danger">Yes, Remove Item</button>
                </div>
                <div class="col">
                    <a asp-controller="Admin" asp-action="Menu" class="btn btn-secondary">No, Cancel</a>
                </div>
            </div>
        </form>
    </div>

    <div class="card col-4" style="width: 20rem; ">
        <div class="card-body">
            <img class="card-img-top" style="width: 18rem;" src="@Model.ImageUrl" alt="Pizza Image">
            <h5 class="card-title mt-1">@Model.Name</h5>
            <h7 class="card-title mt-1">@Model.Ingredients</h7>
            <h5 class="card-title mt-1">$@Model.Price</h5>
        </div>
    </div>
</div>