/* Navbar Background Color for Customers */
.navbar.navbar-expand-sm {
    background: linear-gradient(to right, #ffcc00, #ff9933) !important; /* Greenish color */
    color: white !important; /* Text color in the navbar */
}

/* Navbar Hover Effect for Specific Button */
.navbar.navbar-expand-sm .nav-link {
    position: relative;
    color: inherit; /* Inherit text color from parent */
}

    .navbar.navbar-expand-sm .nav-link:hover {
        background-color: #ffeb99 !important; /* Better matching purplish color on button hover */
        color: #ff6347 !important; /* Reddish text color on hover */
        transition: background-color 0.4s, color 0.4s; /* Smooth transition for both background and text color */
        border-radius: 5px; /* Rounded corners for hover effect */
    }

/* Dropdown Button */
.nav-item.dropdown:hover .dropdown-menu {
    color: black;
    display: block;
}

/* Dropdown Content */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-menu a {
    color: black; /* Changed from light gray to black */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.custom-form {
    margin-top: 20px;
}

.custom-input {
    border: 2px solid orange;
    box-shadow: 0 0 10px orange;
}

.custom-input::selection {
    background-color: orange;
    color: white;
}

.custom-btn {
    background-color: orange;
    border-color: orange;
    box-shadow: 0 0 10px orange;
    color: white;
}

.custom-btn:hover {
    background-color: darkorange;
    border-color: darkorange;
}
.custom-btn {
    margin-left: 15px;
}

