/* Navbar Background Color for Customers */
.navbar.navbar-expand-sm {
    background-color: #1BC34A !important; /* Greenish color */
}

/* Navbar Hover Effect for Specific Button */
.navbar.navbar-expand-sm .nav-link:hover {
    background-color: #3f9a29 !important; /* Matching greenish color on button hover */
    transition: background-color 0.3s; /* Smooth transition effect */
}

/* Dropdown Button */
.nav-item.dropdown:hover .dropdown-menu {
    color: black;
    display: block;
}

/* Dropdown Content */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-menu a {
    color: black; /* Changed from light gray to black */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}