/* error.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #212529;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: #dc3545;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

.button-container {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

    .btn:hover {
        background-color: #0056b3;
        border-color: #0056b3;
        color: #fff;
    }

    .btn:focus {
        outline: none;
    }
