
<div style="display: flex; flex-direction: column; align-items: center; justify-content: flex-start; height: 100vh; margin-top: 50px;">
    <h1>Welcome to PizzaHub!</h1>
    <h3><p>We offer tasty pizza for hungry gamers.</p></h3>
    <h3><p>So, are you hungry?</p></h3>
    <div class="card" style="align-self: flex-start;">
        <p>Choose an option below:</p>
        <form asp-controller="Home" asp-action="ShowMenu" method="get" style="display: inline-block; margin-right: 10px;">
            <button type="submit">Yes, Show Me the Menu!</button>
        </form>

        <form asp-controller="Home" asp-action="NoThanks" method="get" style="display: inline-block;">
            <button type="submit">No, Thanks, I am Fine.</button>
        </form>
    </div>
</div>
