@{
    ViewData["Title"] = "Request Submission";
}

<h1>Request Submission</h1>

@if (!string.IsNullOrEmpty(ViewData["Message"].ToString()))
{
    <div class="alert @((ViewData["MessageType"].ToString() == "Success") ? "alert-success" : "alert-danger")" role="alert">
        @ViewData["Message"]
    </div>
}

<a href="@Url.Action("Menu", "Restaurant")" class="btn btn-primary">Back to Menu</a>