@model PizzaHub.Core.ViewModels.MenuItem.MenuItemViewModel

<div class="card col-4" style="width: 20rem; ">
    <div class="card-body">
        <img class="card-img-top" style="width: 18rem;" src="@Model.ImageUrl" alt="Pizza Image">
        <h5 class="card-title mt-1">@Model.Name</h5>
        <h5 class="card-title mt-1">@Model.Price</h5>
    </div>

    <form asp-controller="Order" asp-action="ConfirmOrder" method="post" class="mb-2">
        <input type="hidden" name="pizzaId" value="@Model.Id" />
        
        <div class="input-group">
            <input type="text" name="address" class="form-control" required />
            <div class="input-group-append">
                <span class="input-group-text">Enter Address</span>
            </div>
        </div>

        <button type="submit" class="btn btn-warning mt-2 w-100 p-3 fw-bold">Confirm Order</button>
    </form>
</div>