@model IEnumerable<PizzaHub.Core.ViewModels.Order.OrderViewModel>

<h1>Previous Orders</h1>

@if (Model.Any())
{
    <table class="table">
        <thead>
        <tr>
            <th>Order ID</th>
            <th>Restaurant Name</th>
            <th>Status</th>
            <th>Order Items</th>
            <th>Total Amount</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.Restaurant</td>
                <td>@order.Status</td>
                <td>
                    <ul>
                        @foreach (var item in order.OrderItems)
                        {
                            <li>@item</li>
                        }
                    </ul>
                </td>
                    <td>$@order.Amount</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>No previous orders found.</p>
}