@model PizzaHub.Core.ViewModels.MenuItem.MenuItemFormModel
@{
    ViewData["Title"] = "Adding new Menu Item";
}

<h1>Adding new Menu Item</h1>

<form asp-area="Admin" asp-action="AddMenuItem" method="post">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Ingredients">Ingredients</label>
        <input asp-for="Ingredients" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl">Image URL</label>
        <input asp-for="ImageUrl" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Price">Price</label>
        <input asp-for="Price" class="form-control" />
    </div>
    <button  type="submit" class="btn btn-primary mt-3">Submit</button>
</form>