@using Microsoft.AspNetCore.Identity
@using PizzaHub.Extensions
@using PizzaHub.Infrastructure.Data.Models
@inject UserManager<ApplicationUser> userManager
@inject SignInManager<ApplicationUser> signInManager

@{
    string userName = "";
    @if (signInManager.IsSignedIn(User))
    {
        string userId = User.GetUserId();
        var user = userManager.FindByIdAsync(userId);
        userName = $"{user.Result.FirstName} {user.Result.LastName}";
    }
}
<ul class="navbar-nav">
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @userName !</a>
    </li>
    <li class="nav-item ml-auto">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home")">
            <button type="submit" class="btn btn-outline-primary">Logout</button>
        </form>
    </li>
</ul>
